<!-- Contact Page -->
<div class="heroFive">
    <marquee class="scrolltxtFive">Contact</marquee>
  </div>

  <form class="contactForm">

    <div>
      <label for="name">Name:</label>
      <input class="formStyle" type="text" name="name" />
    </div>

    <div>
      <label for="address">Address:</label>
      <input class="formStyle" type="text" name="address" />
    </div>

    <div>
      <label for="phone">Phone Number:</label>
      <input class="formStyle" type="tel" name="number" />
    </div>

    <div>
      <label for="email">Email:</label>
      <input class="formStyle" type="email" name="email" />
    </div>

    <div>
      <label for="questions">Questions:</label><br/>
      <textarea id="questions" rows="4" cols="50"></textarea>
    </div>

    <input class="submitButton" type="submit" value="submit" />
  </form>