<footer>
  <!-- Logo -->
  <div class="logo">
    <img src="assets/brush.png" alt="" width="65px" height="65px" />
  </div>
  <!-- Address, Phone, Email -->
  <div class="phone">(613)205-3349</div>
  <div class="address">123 Colourpop Dr. CA, 46220</div>
  <div class="email">makeupco@info.com</div>

  <!-- Mailing list -->
  <div class="mailList">
    <input
      type="text"
      placeholder="Enter your email to join our maling list..."
    />
    <div class="button">SUBSCRIBE</div>
  </div>
</footer>
