<!-- HomePage -->
<div class="hero">
  <marquee class="scrolltxt">Home</marquee>
</div>

<div class="homeContent">
  <h2 class="infoTitle">Mock Text</h2>
  <p class="infoPar">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquid itaque
    voluptate quas fugit ipsum vero voluptatum possimus totam impedit debitis
    deserunt nobis minima, incidunt ratione doloremque dolore! Dolor, explicabo!
  </p>
</div>
<div class="homeContent">
  <h2 class="infoTitle">Mock Text</h2>
  <p class="infoPar">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque fuga
    expedita, tenetur consectetur labore eveniet fugit quae itaque quia voluptas
    iure, quasi perspiciatis, corporis maxime? Perspiciatis porro voluptatum
    voluptatem unde.
  </p></div>
<div class="homeContent">
  <h2 class="infoTitle">Mock Text</h2>
  <p class="infoPar">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, quis? Autem culpa molestiae facilis reprehenderit laboriosam. Consequuntur autem, quibusdam, deleniti vero dolore soluta quis placeat minus ad ipsa, deserunt odit?</p></div>



