<!-- AboutPage -->
<div class="heroTwo">
  <marquee class="scrolltxtTwo">About</marquee>
</div>

<div class="about">
  <div class="ourTeamOne">
    <img src="../assets/ourteamOne.jpg" alt="" />
    <p class="teamBlurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos aut, necessitatibus nesciunt rerum animi optio dolores amet quis excepturi quas dolorem iure quia placeat dolor ea eum atque? Neque.</p>
  </div><br/>
  
  <div class="ourTeamTwo">
    <img src="../assets/ourteamTwo.jpg" alt="" />
    <p class="teamBlurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos aut, necessitatibus nesciunt rerum animi optio dolores amet quis excepturi quas dolorem iure quia placeat dolor ea eum atque? Neque.</p>
  </div><br/>
  
  <div class="ourTeamThree">
    <img src="../assets/ourteamThree.jpg" alt="" />
    <p class="teamBlurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos aut, necessitatibus nesciunt rerum animi optio dolores amet quis excepturi quas dolorem iure quia placeat dolor ea eum atque? Neque.</p>
  </div>
 
</div>