<!-- Blog Page -->
<div class="heroFour">
    <marquee class="scrolltxtFour">Blog</marquee>
  </div>

  <div class="blog">
      <div class="blogEntries">
        <img src="assets/fancy.jpg" alt="" />
        <img src="assets/fancyTwo.jpg" alt="" />
          </div>

          <div class="blogBlurb">
              <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, ducimus harum officiis ipsum reiciendis repudiandae neque doloribus fugiat impedit totam nobis ratione vitae, voluptates cumque illo consequuntur blanditiis repellendus ut!</p>
              <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem animi dicta exercitationem voluptatibus, esse voluptates dolor? Aliquam ex aut fugit natus, laudantium, maiores quis minima rerum dolores aspernatur harum iste.</p>
            </div>
      </div>

      
  </div>