<div class="heroThree">
    <marquee class="scrolltxtThree">Products</marquee>
  </div>

  <div class="products">
      <div class="productOne">
        <img src="../assets/productOne.jpg" alt="" />
        <p class="productBlurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos aut, necessitatibus nesciunt rerum animi optio dolores amet quis excepturi quas dolorem iure quia placeat dolor ea eum atque? Neque.</p>
      </div><br/>
      
      <div class="productTwo">
        <img src="../assets/productTwo.jpg" alt="" />
        <p class="productBlurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos aut, necessitatibus nesciunt rerum animi optio dolores amet quis excepturi quas dolorem iure quia placeat dolor ea eum atque? Neque.</p>
      </div><br/>
      
      <div class="productThree">
        <img src="../assets/productThree.jpg" alt="" />
        <p class="productBlurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos aut, necessitatibus nesciunt rerum animi optio dolores amet quis excepturi quas dolorem iure quia placeat dolor ea eum atque? Neque.</p>
      </div>
     
  </div>